
#headimage{
	width:100%;
	height:500px;
	opacity: 0.7;
	
}

.portfolio_title{
	width: 340px;
	height:310px;
	/* border: 4px solid white; */
	font-size:12px;
	font-family: 'Poppins', sans-serif;
	text-align:center;
	float: right;
	margin-top: 15%;
	margin-right: 23%;
	text-align: center;
	padding:15px;
	background-color: gray;
	
}

 .primage{
	align-content: center;
}

.portfolio_desc
{
color:black;
font-family:'Poppins', sans-serif;
font-size:35px;
margin-left:1%;
margin-right:1%;
margin-top:1%;
text-align:center;
}	

.info
{
	font-family:'Ubuntu', sans-serif;
	font-size: 15;
	color:black;
	margin-left:5%;
	margin-right:5%;
	text-align:center;
	border: 2px solid black;
	
	
}

.info1
{
	font-family:'Poppins', sans-serif;
	font-size: 13;
	text-align: center;
	color:black;
	/*border: 1px solid black; */
	margin-left:30%;
	margin-right: 30%;
	padding: 5px;
	
}


.portfolio_project1
{
	font-family:'Ubuntu', sans-serif;
	color:black;
	font-size: 15;
	text-align:center;
	
}

#primage{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.githublink
{
margin-left: 1%;
font-family: 'Ubuntu', sans-serif;
color:black;
	
}
.body1
{
	background-color:white;
	
}

.portfolio_project2
{
	font-family:'Ubuntu', sans-serif;
	color:black;
	font-size: 15;
	text-align:center;
	
}

#remoteimage{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
